body {
           
		   
		   background:url("https://www.dropbox.com/s/y82hbo585swawkw/worldmap_opaque.jpg?raw=1") gray;
		   background-repeat: no-repeat;
		   background-attachment: fixed;
           background-size: 100% 100%;
         }
		 
		 
         h1 {
           color: #330000;
         }
		 #crimson-text{
			 color:#800000;
			 text-align:center;
			 font-weight:bold;
		 }
		 
		 #bold-center-text{
			 text-align:center;
			 font-weight:bold;
		 }
		 
		 .center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
		 .italic {
			font-style: italic;
			}
         p {
           font-size: 28px;
		   margin: 50px 50px 50px 75px;
		   padding: 50px 50px 50px 75px;
         }
		 
		 #footer{
			position:fixed;
			bottom:0;
			left:0;
		}